<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mazizashari.kabakilab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Petunjuk" />
        <activity
            android:name=".ListReagen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Katalog.katalog1"
            android:label="@string/title_activity_katalog1"
            android:theme="@style/AppTheme.NoActionBar" />     android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Katalog.katalog2"
            android:label="@string/title_activity_katalog1"
            android:theme="@style/AppTheme.NoActionBar" />
         <activity
            android:name=".Katalog.katalog3"
            android:label="@string/title_activity_katalog1"
            android:theme="@style/AppTheme.NoActionBar" />
         <activity
            android:name=".Katalog.katalog4"
            android:label="@string/title_activity_katalog1"
            android:theme="@style/AppTheme.NoActionBar" />
         <activity
            android:name=".Katalog.katalog5"
            android:label="@string/title_activity_katalog1"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".Katalog.katalog6"
            android:label="@string/title_activity_katalog6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog7"
            android:label="@string/title_activity_katalog7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog8"
            android:label="@string/title_activity_katalog8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog9"
            android:label="@string/title_activity_katalog9"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog10"
            android:label="@string/title_activity_katalog10"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog11"
            android:label="@string/title_activity_katalog11"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog12"
            android:label="@string/title_activity_katalog12"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog13"
            android:label="@string/title_activity_katalog13"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog14"
            android:label="@string/title_activity_katalog14"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog15"
            android:label="@string/title_activity_katalog15"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog16"
            android:label="@string/title_activity_katalog16"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog17"
            android:label="@string/title_activity_katalog17"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog18"
            android:label="@string/title_activity_katalog18"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog19"
            android:label="@string/title_activity_katalog19"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog20"
            android:label="@string/title_activity_katalog20"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog21"
            android:label="@string/title_activity_katalog21"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog22"
            android:label="@string/title_activity_katalog22"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog23"
            android:label="@string/title_activity_katalog23"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog24"
            android:label="@string/title_activity_katalog24"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog25"
            android:label="@string/title_activity_katalog25"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog26"
            android:label="@string/title_activity_katalog26"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog27"
            android:label="@string/title_activity_katalog27"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog28"
            android:label="@string/title_activity_katalog28"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog29"
            android:label="@string/title_activity_katalog29"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog30"
            android:label="@string/title_activity_katalog30"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog31"
            android:label="@string/title_activity_katalog31"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog32"
            android:label="@string/title_activity_katalog32"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog33"
            android:label="@string/title_activity_katalog33"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog34"
            android:label="@string/title_activity_katalog34"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog35"
            android:label="@string/title_activity_katalog35"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog36"
            android:label="@string/title_activity_katalog36"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog37"
            android:label="@string/title_activity_katalog37"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog38"
            android:label="@string/title_activity_katalog38"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog39"
            android:label="@string/title_activity_katalog39"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog40"
            android:label="@string/title_activity_katalog40"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog41"
            android:label="@string/title_activity_katalog41"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog42"
            android:label="@string/title_activity_katalog42"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog43"
            android:label="@string/title_activity_katalog43"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog44"
            android:label="@string/title_activity_katalog44"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog45"
            android:label="@string/title_activity_katalog45"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog46"
            android:label="@string/title_activity_katalog46"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog47"
            android:label="@string/title_activity_katalog47"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog48"
            android:label="@string/title_activity_katalog48"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog49"
            android:label="@string/title_activity_katalog49"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog50"
            android:label="@string/title_activity_katlaog50"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog51"
            android:label="@string/title_activity_katalog51"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog52"
            android:label="@string/title_activity_katalog52"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog53"
            android:label="@string/title_activity_katalog53"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog54"
            android:label="@string/title_activity_katalog54"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog55"
            android:label="@string/title_activity_katalog55"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog56"
            android:label="@string/title_activity_katalog56"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog57"
            android:label="@string/title_activity_katalog57"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog58"
            android:label="@string/title_activity_katalog58"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog59"
            android:label="@string/title_activity_katalog59"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog60"
            android:label="@string/title_activity_katalog60"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog61"
            android:label="@string/title_activity_katalog61"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog62"
            android:label="@string/title_activity_katalog62"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog63"
            android:label="@string/title_activity_katalog63"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog64"
            android:label="@string/title_activity_katalog64"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog65"
            android:label="@string/title_activity_katalog65"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog66"
            android:label="@string/title_activity_katalog66"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog67"
            android:label="@string/title_activity_katalog67"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Katalog.katalog68"
            android:label="@string/title_activity_katalog68"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>